<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
<div class="wrapper">
    <header th:replace="common/header :: main-header"></header>
    <div class="content-wrapper"
         sec:authorize="hasRole('ROLE_HEALTH')">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"> DashBoard <small>HealtH Facility Panel</small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Payment</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container">
                <form th:action="@{/healthcenter/patient/transaction/draft}" th:object="${medicalActDraft}"
                      method="POST" role="login">
                    <input type="hidden" th:value="${patient.id}" name="patientId"/>
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="box-title">Medical Services Selection Form</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title"><strong>Consultation</strong></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group" data-select2-id="85">
                                                <div class="select2-purple" data-select2-id="75">
                                                    <select class="select2 select2-hidden-accessible" multiple=""
                                                            data-placeholder="Select a Service"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;" tabindex="-1"
                                                            aria-hidden="true" th:field="*{consultationServiceList}">
                                                        <option th:data-select2-id="${service.id}" th:each="service : ${medicalServiceList}"
                                                                th:value="${service.id}"
                                                                th:text="${service.name+'-'+service.unitPrice}"
                                                                th:if="${service.type.name() == 'CONSULTATION'}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title"><strong>Laboratory</strong></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group" data-select2-id="85">
                                                <div class="select2-purple" data-select2-id="75">
                                                    <select class="select2 select2-hidden-accessible" multiple=""
                                                            data-placeholder="Select a Service"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;" tabindex="-1"
                                                            aria-hidden="true" th:field="*{laboratoryServiceList}">
                                                        <option th:data-select2-id="${service.id}" th:each="service : ${medicalServiceList}"
                                                                th:value="${service.id}"
                                                                th:text="${service.name+'-'+service.unitPrice}"
                                                                th:if="${service.type.name() == 'EXAM'}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title"><strong>Prescriptions</strong></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group" data-select2-id="85">
                                                <div class="select2-purple" data-select2-id="75">
                                                    <select class="select2 select2-hidden-accessible" multiple=""
                                                            data-placeholder="Select a medicament"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;" tabindex="-1"
                                                            aria-hidden="true" th:field="*{drugList}">
                                                        <option th:data-select2-id="${service.id}" th:each="service : ${medicalServiceList}"
                                                                th:value="${service.id}"
                                                                th:text="${service.name+'-'+service.unitPrice}"
                                                                th:if="${service.type.name() == 'MEDICAMENT'}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                            
                                             <a href="/healthcenter" class="btn btn-default float-left">Cancel</a>
                                            <button type="submit" class="btn btn-info float-right">NEXT >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <footer th:replace="common/header :: footer"></footer>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        //Initialize Select2 Elements
        $('.select2').select2()
    });
</script>
</body>

</html>