<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content">
				
				
				<div class="row" th:if="${employeeInfo==true}">
						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Employee Information Details</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table class="table table-bordered">
									
									<tr>
											<td>Empl.Number</td>
											<td th:text="${emp.employeeNumber}" />
										</tr>
										
										<tr>
											<td>First Name</td>
											<td th:text="${emp.fname}" />
										</tr>
										<tr>
											<td>Last Name</td>
											<td th:text="${emp.lname}" />
										</tr>
										<tr>
											<td>Email</td>
											<td th:text="${emp.email}" />
										</tr>
										<tr>
											<td>Phone</td>
											<td th:text="${emp.phone}" />
										</tr>
										<tr>
											<td>Role</td>
											<td th:each="userRole,tat: ${emp.user.userRoles}">
			                                 <p th:text="${userRole.role.name}"/></td>
										</tr>
										

									</table>
								</div>
								<a class="btn btn-info pull-right" href="/admin">Back
												Home </a>
							
					
					
				
				
				</div></div></div></section></div></div>
				
	<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
	
				
				</body>



</html>