<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_HEALTH')">
			<div class="container">
			
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>HEALTH CENTER Panel</small>
					</h1>
				</section>
				
    <div class="card-body login-card-body col-md-5" style="margin-right:auto;margin-left:auto;">
    <div class="alert alert-warning alert-dismissible" th:if="${errormessage}">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-exclamation-triangle"></i>sorry!</h5>
                  <p th:text="${errormessage}"/>
                </div>
      <p class="login-box-msg">Find Patient By Head of Family  National Id Number.</p>

      <form th:action="@{/search}" action=""  method="post">
    
        <div class="input-group mb-3">
          <input type="text" class="form-control"  name="idnb" placeholder="enter national Id Number"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-search"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Find Patient</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
		<!-- Main Footer -->

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

	
</body>
</html>