<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_HEALTH')">
			<div class="container">
			
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>HEALTH CENTER Panel</small>
					</h1>
				</section>
				 
</div>
</div>

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
 <script type="text/javascript">
 function loadExam(idnb){
	 $.ajax({
		  type: 'get',
		  url: "/getExam/"+idnb,
		
		  success: function(data){
			  $('.exams').html(data);
			  $('#modal-default').modal('hide');
			},
		  
		})
 }
 
 function loadSearchResult(idnb)
	{
		
	 $.ajax({
		  type: 'get',
		  url: "/getAll/"+idnb,
		
		  success: function(data){
			  $('.exam_Acts').html(data);
			  $('#modal-medicament').modal('hide');
			},
		  
		})
		
	}
	var doAjaxPost;
	var doExamPost;
    $(document).ready(function() {
    
    	doAjaxPost = function() {
            // get the form values
            var name = $('#medicament').val();
            var quantity = $('#quantity').val()
             var idnb = $('#idnb').val()
            $.ajax({
            type: "POST",
            url: "/addMedicament",
           data:{"service":name,"quantity":quantity,"idnb":idnb},
            success: function(response){
            // we have the response
            loadSearchResult(idnb)
            },
            error: function(e){
            alert('Error: ' + e);
            }
            });
     }

    	doExamPost = function() {
    	var examData = {
           exam:$('#exams').val(),
            idnb:$('#idnb').val()
        }
    	
            console.log(examData)
            $.ajax({
            type: "POST",
           contentType : 'application/json; charset=utf-8',
            url: "/addExams",
           data: JSON.stringify(examData),
            success: function(response){
            // we have the response
            loadExam($('#idnb').val())
            console.log("is ok")
            },
            error: function(e){
            alert('Error: ' + e);
            }
            });
     }
           
            });
    
   
            
</script>
</body>
</html>