<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_HEALTH')">
			<div class="container">
			
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>HEALTH CENTER Panel</small>
					</h1>
				</section>
				 <div class="card card-primary card-outline">
          <div class="card-header">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                <h3 class="card-title">Patient Identification</h3>

        
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Names</th>
                      <th>Birt Date</th>
                      <th>Gender</th>
                      <th>National Id</th>
                      <th>UBUDEHE</th>
                    </tr>
                  </thead>
                  <tbody>
										<tr th:each="patient: ${patient}">
										<td th:text="${patient.firstName+' '+patient.lastName}"/>
										<td th:text="${patient.dateOfBirth}" />
											<td th:text="${patient.gender}" />
											<td th:text="${patient.idnb}" />
											<td th:text="${patient.category}" />
											
										</tr>
									</tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
       </div>
       
        
          <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-add"></i>
              Record Medical Acts And Generate Personal Invoice
            </h3>
          </div>
          <div class="card-body">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Record Medical Acts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-below-messages-tab"  data-toggle="modal" data-target="#modal-lg">Generate Personal Invoice </a>
              </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
              <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
            <div class="col-md-8">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form">
               <div class="card-body">
                    <input type="hidden" class="form-control" id="exampleInputEmail1" name="idnbr"/>
                     <div class="row">
                    <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Medicine</label>
                    <select class="select2bs4"  data-placeholder="Select a medicine"
                          style="width: 100%;">
                    <option th:each="medicalService:${medicalService}"><p th:text="${medicalService.name}"></p></option>
                    
                  </select>
                  </div>
                  </div>
                <div class="form-group">
                <div class="col-sm-6">
                    <label for="exampleInputEmail1">Quantity</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="quantity"/>
                  </div>
                </div>
              </div>
              </div>
              
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add</button>
                   <a href="/healthcenter" class="btn btn-default float-right">Cancel</a>
                </div>
              </form>
            </div>
            </div>
            </div>
           
          </div>
          <!-- /.card -->
        </div>
  
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Generate Personal Invoice</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <p>Hey You</p>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  
      </div>
      <!-- /.container-fluid -->
  
    <!-- /.content -->
</div>
		<!-- Main Footer -->
</div>
</div>

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

	
</body>
</html>