<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_HEALTH')">
			<div class="container">
			
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>HEALTH CENTER Panel</small>
					</h1>
				</section>
				 <div class="card card-primary card-outline">
          <div class="card-header">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                <h3 class="card-title" style="float:left;">Patient Identification</h3>
                            <h5 class="card-title" style="float:right;"  th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"/>
        
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Names</th>
                      <th>Birt Date</th>
                      <th>Gender</th>
                      <th>National Id</th>
                      <th>UBUDEHE</th>
                    </tr>
                  </thead>
                  <tbody>
										<tr th:each="patient: ${patient}">
										<td th:text="${patient.firstName+' '+patient.lastName}"/>
										<td th:text="${patient.dateOfBirth}" />
											<td th:text="${patient.gender}" />
											<td th:text="${patient.idnb}" />
											<td th:text="${patient.category}" />
											
										</tr>
									</tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
       </div>
       
        
          <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-add"></i>
              Serives
            </h3>
          </div>
          <div class="card-body">
            
            
               <div class="row">
          <div class="col-md-6">
            <div class="card exams ">
              <div class="card-header">
                <h3 class="card-title">Exams Service</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" th:fragment="exams">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr th:each="examActs,iStat: ${examActs}">
                      <td th:text="${iStat.index+1}" />
                      <td  th:text="${examActs.service.name}"/>
                      <td  th:text="${examActs.amount}"/>
                    </tr>
                     
                  </tbody>
                </table>
              <button type="button" class="btn btn-info" style="margin-top:10px;" data-toggle="modal" data-target="#modal-default">Add</button>
              </div>
            </div>
            <!-- /.card -->

            <div class="card exam_Acts" >
              <div class="card-header">
                <h3 class="card-title">medicaments Service</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0" id="info" th:fragment="exam_Acts">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th style="width: 40px">Amount[rwf]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="examActs,iStat: ${mActs}">
                      <td th:text="${iStat.index+1}" />
                      <td  th:text="${examActs.service.name}"/>
                      <td  th:text="${examActs.amount}"/>
                    </tr>
                   
                  </tbody>
                </table>
                  <button type="button" class="btn btn-info" style="margin-top:10px;" data-toggle="modal" data-target="#modal-medicament">Add</button>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Consultation Services</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Amount [rwf]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Ikayi</td>
                      <td><span class="badge bg-danger">200</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Consultation</td>
                      <td><span class="badge bg-warning">1000</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>
            </div>
           
            <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Medical Acts(Exams)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form name="exam"
                action="/addExam"
                method="post">
               <div class="card-body">
                    <input type="hidden" class="form-control" id="idnb" th:value="${patient.idnb}"/>
              
                  <div class="form-group">
                    <label for="exampleInputPassword1">Add Exams</label>
                    <select class="select2bs4" name="exams" multiple="multiple" data-placeholder="Select a Exams"
                           id="exams">
                    <option th:each="exams:${exams}" th:value="${exams.id}"><p th:text="${exams.name}"></p></option>
                    
                  </select>
              </div>
              </div>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary" onclick="doExamPost()">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
              <!-- /.card-header -->
<div class="modal fade" id="modal-medicament">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Medical Acts(Medicaments)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <form name="ajf"
                action="/addMedicament"
                method="post" th:object="${medicamentData}">
               <div class="card-body">
                    <input type="hidden" class="form-control"  id="idnb" th:value="${patient.idnb}"/>
                     <div class="row">
                    <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Medicaments Services</label>
                    <select class="select2bs4"  data-placeholder="Select a medicine" 
                           id="medicament">
                    <option th:each="medicaments:${medicaments}" th:value="${medicaments.id}"><p th:text="${medicaments.name}" /></option>
                    
                  </select>
                  </div>
                  </div>
                <div class="form-group" id="onexam">
                <div class="col-sm-6">
                    <label for="exampleInputEmail1">Quantity</label>
                    <input type="text" class="form-control"  id="quantity"/>
                  </div>
                </div>
              </div>
              </div>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary"  onclick="doAjaxPost()">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
              <!-- /.card-header -->
              <!-- form start -->
             
          </div>
          </div>
          
   
      </div>
      <!-- /.container-fluid -->
  
    <!-- /.content -->
</div>
		<!-- Main Footer -->
</div>
</div>

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
 <script type="text/javascript">
 function loadExam(idnb){
	 $.ajax({
		  type: 'get',
		  url: "/getExam/"+idnb,
		
		  success: function(data){
			  $('.exams').html(data);
			  $('#modal-default').modal('hide');
			},
		  
		})
 }
 
 function loadSearchResult(idnb)
	{
		
	 $.ajax({
		  type: 'get',
		  url: "/getAll/"+idnb,
		
		  success: function(data){
			  $('.exam_Acts').html(data);
			  $('#modal-medicament').modal('hide');
			},
		  
		})
		
	}
	var doAjaxPost;
	var doExamPost;
    $(document).ready(function() {
    
    	doAjaxPost = function() {
            // get the form values
            var name = $('#medicament').val();
            var quantity = $('#quantity').val()
             var idnb = $('#idnb').val()
            $.ajax({
            type: "POST",
            url: "/addMedicament",
           data:{"service":name,"quantity":quantity,"idnb":idnb},
            success: function(response){
            // we have the response
            loadSearchResult(idnb)
            },
            error: function(e){
            alert('Error: ' + e);
            }
            });
     }

    	doExamPost = function() {
    	var examData = {
           exam:$('#exams').val(),
            idnb:$('#idnb').val()
        }
    	
            console.log(examData)
            $.ajax({
            type: "POST",
           contentType : 'application/json; charset=utf-8',
            url: "/addExams",
           data: JSON.stringify(examData),
            success: function(response){
            // we have the response
            loadExam($('#idnb').val())
            console.log("is ok")
            },
            error: function(e){
            alert('Error: ' + e);
            }
            });
     }
           
            });
    
   
            
</script>
</body>
</html>