<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style type="text/css">
.bgimg {
	background-image: url('OfficerPortal/images/bg.png');
}
</style>
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">	
	<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
		<div class="row">
			<p align="center">HOD AREA(ADMIN)</p>
		</div>
	</div>
	<div class="row" sec:authorize="hasRole('ROLE_STUDENT')">
		<div class="row">
			<p align="center">STUDENT AREA</p>
		</div>
	</div>
</div>
<div th:replace="common/header :: footer"></div>
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>